* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.bl_fv {
    width: 100vw;
    height: 720px;
    overflow: hidden;
}
.bl_fv_inner {
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.bl_fv_content {
    position: absolute;
    top: 40%;
    left: 2%;
    z-index: 2;
}
.bl_fv_title {
    font-size: 80px;
    font-weight: 600;
    line-height: 1.4;
}
.bl_fv_title_ja {
    display: block;
    font-size: 32px;
    margin-bottom: 32px;
}
.bl_fv_image {
    position: absolute;
    bottom: -10px;
    right: 5%;
    z-index: 1;
    max-width: 562px;
}
.bl_fv_bg {
    position: absolute;
    top: 28%;
    right: -8%;
    z-index: 0;
}
.el_main_btn {
    display: block;
    width: 208px;
    border-radius: 50px;
    padding: 20px 34px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(95.11deg, #FFC128 -9.93%, #D15900 107.94%);
    text-decoration: none;
}

@media (max-width: 1280px) {
    .bl_fv {
        width: 100vw;
        height: 70vh;
    }
    .bl_fv_title {
        font-size: 48px;
    }
    .bl_fv_title_ja {
        font-size: 24px;
    }
    .bl_fv_image {
        right: 0;
        max-width: 520px;
    }
    .bl_fv_bg {
        top: 10%;
    }
}
@media (max-width: 560px) {
    .bl_fv {
        width: 100vw;
        height: 40vh;
    }
    .bl_fv_content {
        position: absolute;
        top: 45%;
    }
    .bl_fv_title {
        font-size: 28px;
        line-height: 1.6;
    }
    .bl_fv_title_ja {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .bl_fv_image {
        right: -20%;
        max-width: 300px;
    }
    .bl_fv_bg {
        width: 390px;
        top: 38%;
        right: -22%;
    }
    .el_main_btn {
        width: 180px;
        padding: 16px;
        font-size: 16px;
        font-weight: 600;
    }
}